#page-under-construction-container {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#page-under-construction-message {
    font-size: 40px;
    font-family:'Courier New', Courier, monospace;
}