<app-navigation title="NBA Encyclopedia"></app-navigation>
<router-outlet></router-outlet>
  <!-- FOOTER -->
<div id="footer">
  <div id="footer-view">
    <a href="https://www.sportingnews.com/ca/nba?gr=www">NBA</a>
    <a href="https://gleague.nba.com/">NBA G-League</a>
    <a href="https://www.nhl.com/">NFL</a>
    <a href="https://www.nhl.com/">NHL</a>
    <a href="https://www.mlb.com/">MLB</a>
    <a href="https://www.mlssoccer.com/">MLS</a>
    <a href="https://www.basketball-reference.com/">Basketball Reference</a>
  </div>
</div>