<div id="header">
    <div id="header-left">
        <p id="title">NBA Encyclopedia</p>
        <img id="NBA-Logo" src="../assets/images/nba-logo_2x.png" width="80px" onclick="window.location ='https://www.sportingnews.com/ca/nba?gr=www'">
    </div>
    <div id="sub-pages">
        <button mat-button id="sub-page">Teams</button>
        <button mat-button id="sub-page">Players</button>
        <button mat-button id="sub-page">Awards</button>
    </div>
    <div id="header-right">
    </div>
  </div>