<!--IMAGES + PAGE TITLE-->
<div id="image-view">
    <div id="raptors-champ"></div>
    <div id="curry-mvp"></div>
    <div id="page-title">NBA Encyclopedia</div>
</div>

<!--PAGE INTRO + SUPPORTING IMAGES-->
<div id="page-intro">
    <div id="trophy"></div>
    <div id="page-desc">
        <p id="desc-title">Welcome to the NBA Encyclopedia!</p>
        <ul>
            <li id="desc-body">On this page, you can learn all about your favourite NBA teams and players!</li>
            <li id="desc-teams">Under Teams, you can find all 30 NBA Teams in the NBA Teams Dropdown.
                There's also an interactive map showing the location of all 30 NBA Teams.
            </li>
            <li id="desc-players">Under Players, you can build your very own starting lineup.</li>
            <li id="desc-awards">Under Awards, you can view past award winners for all the NBA awards including
                MVP, DPOY, ROTY, COTY among many others!
            </li>
        </ul>
    </div>
</div>


