#image-view {
    width: 100vw;
    position: relative; // position an element based on current position without changing layout
    display: flex;
    justify-content: center;
    align-items: center;
}

#raptors-champ {
    width: 50%;
    height: 575px;
    //background-size: contain;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url("../../../assets/images/raptors-NBA-Champs.jpeg"); // sets background image of div
} 

#curry-mvp {
    width: 50%;
    height: 575px;
    //background-size: contain;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url("../../../assets/images/curry-mvp.jpeg");
}

#page-title {
    position: absolute; // positioned element based on closest positioned ancestor (home-view)
    /*
    top: 50%; 
    left: 50%; // top: 50% and left 50% moves the child element to the center of its parent (home-view)
    transform: translate(-50%, -50%); // centers the center of child at the center of the parent component
    */
    flex-basis: 50%;
    border: 4px solid white; // sets border width and color of div
    font-size: 70px;
    color: white;
    font-family: "Monaco";
    background-color: black;
    padding: 40px; // creates space around an element's context inside of the definied borders 
    // padding-left, padding-right, padding-bottom and padding-left are paddings for each side of an element
}


#page-intro {
    padding-top: 30px;
    padding-bottom: 30px;
    height: 50vh; // on smaller screen set height to 70vh
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    column-gap: 30px;
}

#trophy-div {
    // need to resize background-image
    flex-basis: 30%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    //background-image: url("../../../assets/images/finals-trophy-small.png");
}

#trophy {
    padding-top: 50px;
    padding-bottom: 50px;
}

#page-desc {
    position: relative;
    flex-basis: 40%;
    /*
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    */
    padding: 30px 30px 30px 30px;
    border: 2px solid black;
    width: 40%;
}

#desc-title {
   font-family: "Lato"; 
   font-size: 40px;
}

ul li {
    margin-bottom: 3%;
}

#second-image-div {
    flex-basis: 30%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}