<div id="teams-map-container">
    <!--
    <iframe
        width=100%
        height=100%
        style="border:0"
        loading="lazy"
        allowfullscreen
        referrerpolicy="no-referrer-when-downgrade"
        src="https://www.google.com/maps/embed/v1/view?key=AIzaSyCfRCzodgYdicZc_E6y0BPgUjvl7c3zQ4g
            &center=40.14581130674028, -96.23164496147355
            &zoom=5
            &q=Madison+Square+Garden,New+York,NY">
    </iframe>
    -->
    <iframe src="https://www.google.com/maps/d/u/0/embed?mid=15GncWqrJfMeqGuutpOQZPrjisN8K0ZY&ehbc=2E312F&noprof=1" width=100% height=100%></iframe>
</div>
