<div id="NBA-teams">
    <div id="teams-table">
        <div id="eastern-conference-title">
            <div id="conference-title-container">
                <div id="conference-image-container">
                    <img id="conference-image" src="../../../assets/images/eastern-conference.jpg">
                </div>
                <div id="conference-title">Eastern Conference</div>
            </div>
            <div id="conference-teams">
                <div id="division-container">
                    <div id="division-title-container">
                        <div id="division">Atlantic Division</div>
                    </div>
                    <div id="division-teams-container">
                        <div id="division-team-info">
                            <img src="../../../assets/images/boston-celtics.png">
                            <a id="team-name" href="https://www.nba.com/celtics">Boston Celtics</a>
                            <div id="team-location">Boston, MA</div>
                        </div>
                        <div id="division-team-info">
                            <img src="../../../assets/images/brooklyn-nets.png">
                            <a id="team-name" href="https://www.nba.com/nets">Brooklyn Nets</a>
                            <div id="team-location">Brooklyn, NY</div>
                        </div>
                        <div id="division-team-info">
                            <img src="../../../assets/images/new-york-knicks.png">
                            <a id="team-name" href="https://www.nba.com/knicks">New York Knicks</a>
                            <div id="team-location">New York, NY</div>
                        </div>
                        <div id="division-team-info">
                            <img src="../../../assets/images/philly-sixers.png">
                            <a id="team-name" href="https://www.nba.com/sixers">Philadelphia 76ers</a>
                            <div id="team-location">Philadelphia, PA</div>
                        </div>
                        <div id="division-team-info">
                            <img src="../../../assets/images/toronto-raptors.png">
                            <a id="team-name" href="https://www.nba.com/raptors">Toronto Raptors</a>
                            <div id="team-location">Toronto, ON</div>
                        </div>
                    </div>
                </div>
                <div id="division-container">
                    <div id="division">Central Division</div>
                </div>
                <div id="division-container">
                    <div id="division">Southeast Division</div>
                </div>
            </div>
        </div>
        <div id="western-conference-title">
            <div id="conference-title-container">
                <div id="conference-image-container">
                    <img id="conference-image" src="../../../assets/images/western-conference.webp">
                </div>
                <div id="conference-title">Western Conference</div>
            </div>
            <div id="conference-teams">
                <div id="division">Northwest Division</div>
                <div id="division">Pacific Division</div>
                <div id="division">Southwest Division</div>
            </div>
        </div>
    </div>
</div>
