#NBA-teams {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

#teams-table {
    width: 30%;
    height: 70%;
    border: 2px solid black;
}