<div id="NBA-teams">
    <div id="teams-table">
        <div id="eastern-conference-title">
            <div id="conference-title-container">
                <div id="conference-image-container">
                    <img id="conference-image" src="../../../assets/images/eastern-conference.jpg">
                </div>
                <div id="conference-title">Eastern Conference</div>
            </div>
            <div id="conference-teams">
                <div id="division-container">
                    <div id="division-title-container">
                        <div id="division">Atlantic Division</div>
                    </div>
                    <div id="division-teams-container">
                        <div id="division-team-info">
                            <img id="team-logo" src="../../../assets/images/boston-celtics.png">
                            <a id="team-name" href="https://www.nba.com/celtics">Boston Celtics</a>
                            <div id="team-location">Boston, MA</div>
                        </div>
                        <div id="division-team-info">
                            <img id="team-logo" src="../../../assets/images/brooklyn-nets.png">
                            <a id="team-name" href="https://www.nba.com/nets">Brooklyn Nets</a>
                            <div id="team-location">Brooklyn, NY</div>
                        </div>
                        <div id="division-team-info">
                            <img id="team-logo" src="../../../assets/images/new-york-knicks.png">
                            <a id="team-name" href="https://www.nba.com/knicks">New York Knicks</a>
                            <div id="team-location">New York, NY</div>
                        </div>
                        <div id="division-team-info">
                            <img src="../../../assets/images/philly-sixers.png">
                            <a id="team-name" href="https://www.nba.com/sixers">Philadelphia 76ers</a>
                            <div id="team-location">Philadelphia, PA</div>
                        </div>
                        <div id="division-team-info">
                            <img src="../../../assets/images/toronto-raptors.png">
                            <a id="team-name" href="https://www.nba.com/raptors">Toronto Raptors</a>
                            <div id="team-location">Toronto, ON</div>
                        </div>
                    </div>
                </div>
                <div id="division-container">
                    <div id="division-title-container">
                        <div id="division">Central Division</div>
                    </div>
                    <div id="division-teams-container">
                        <div id="division-team-info">
                            <img id="team-logo" src="../../../assets/images/chicago-bulls.png">
                            <a id="team-name" href="https://www.nba.com/bulls">Chicago Bulls</a>
                            <div id="team-location">Chicago, IL</div>
                        </div>
                        <div id="division-team-info">
                            <img id="team-logo" src="../../../assets/images/cleveland-cavaliers.png">
                            <a id="team-name" href="https://www.nba.com/cavaliers">Cleveland Cavaliers</a>
                            <div id="team-location">Cleveland, OH</div>
                        </div>
                        <div id="division-team-info">
                            <img id="team-logo" src="../../../assets/images/detroit-pistons.png">
                            <a id="team-name" href="https://www.nba.com/pistons">Detroit Pistons</a>
                            <div id="team-location">Detroit, MI</div>
                        </div>
                        <div id="division-team-info">
                            <img src="../../../assets/images/indiana-pacers.png">
                            <a id="team-name" href="https://www.nba.com/pacers">Indiana Pacers</a>
                            <div id="team-location">Indiana, IN</div>
                        </div>
                        <div id="division-team-info">
                            <img src="../../../assets/images/milwaukee-bucks.png">
                            <a id="team-name" href="https://www.nba.com/bucks">Milwaukee Bucks</a>
                            <div id="team-location">Milwaukee, WI</div>
                        </div>
                    </div>
                </div>
                <div id="division-container">
                    <div id="division-title-container">
                        <div id="division">Southeast Division</div>
                    </div>
                    <div id="division-teams-container">
                        <div id="division-team-info">
                            <img id="team-logo" src="../../../assets/images/atlanta-hawks.png">
                            <a id="team-name" href="https://www.nba.com/hawks">Atlanta Hawks</a>
                            <div id="team-location">Atlanta, GA</div>
                        </div>
                        <div id="division-team-info">
                            <img id="team-logo" src="../../../assets/images/charlotte-hornets.png">
                            <a id="team-name" href="https://www.nba.com/hornets">Charlotte Hornets</a>
                            <div id="team-location">Charlotte, NC</div>
                        </div>
                        <div id="division-team-info">
                            <img id="team-logo" src="../../../assets/images/miami-heat.png">
                            <a id="team-name" href="https://www.nba.com/heat">Miami Heat</a>
                            <div id="team-location">Miami, FL</div>
                        </div>
                        <div id="division-team-info">
                            <img src="../../../assets/images/orlando-magic.png">
                            <a id="team-name" href="https://www.nba.com/magic">Orlando Magic</a>
                            <div id="team-location">Orlando, FL</div>
                        </div>
                        <div id="division-team-info">
                            <img src="../../../assets/images/washington-wizards.png">
                            <a id="team-name" href="https://www.nba.com/wizards">Washington Wizards</a>
                            <div id="team-location">Washington, D.C.</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="western-conference-title">
            <div id="conference-title-container">
                <div id="conference-image-container">
                    <img id="conference-image" src="../../../assets/images/western-conference.webp">
                </div>
                <div id="conference-title">Western Conference</div>
            </div>
            <div id="conference-teams">
                <div id="division-container">
                    <div id="division-title-container">
                        <div id="division">Northwest Division</div>
                    </div>
                    <div id="division-teams-container">
                        <div id="division-team-info">
                            <img id="team-logo" src="../../../assets/images/denver-nuggets.png">
                            <a id="team-name" href="https://www.nba.com/nuggets">Denver Nuggets</a>
                            <div id="team-location">Denver, CO</div>
                        </div>
                        <div id="division-team-info">
                            <img id="team-logo" src="../../../assets/images/minnesota-timberwolves.svg">
                            <a id="team-name" href="https://www.nba.com/timberwolves">Minnesota Timberwolves</a>
                            <div id="team-location">Minneapolis, MN</div>
                        </div>
                        <div id="division-team-info">
                            <img id="team-logo" src="../../../assets/images/okc-thunder.png">
                            <a id="team-name" href="https://www.nba.com/thunder">Oklahoma City Thunder</a>
                            <div id="team-location">Oklahoma, OK</div>
                        </div>
                        <div id="division-team-info">
                            <img src="../../../assets/images/portland-trailblazers.png">
                            <a id="team-name" href="https://www.nba.com/blazers">Portland Trailblazers</a>
                            <div id="team-location">Portland, OR</div>
                        </div>
                        <div id="division-team-info">
                            <img src="../../../assets/images/utah-jazz.png">
                            <a id="team-name" href="https://www.nba.com/jazz">Utah Jazz</a>
                            <div id="team-location">Salt Lake City, UT</div>
                        </div>
                    </div>
                </div>
                <div id="division-container">
                    <div id="division-title-container">
                        <div id="division">Pacific Division</div>
                    </div>
                    <div id="division-teams-container">
                        <div id="division-team-info">
                            <img id="team-logo" src="../../../assets/images/golden-state-warriors.webp">
                            <a id="team-name" href="https://www.nba.com/warriors">Golden State Warriors</a>
                            <div id="team-location">San Francisco, CA</div>
                        </div>
                        <div id="division-team-info">
                            <img id="team-logo" src="../../../assets/images/los-angeles-clippers.png">
                            <a id="team-name" href="https://www.nba.com/clippers">Los Angeles Clippers</a>
                            <div id="team-location">Los Angeles, CA</div>
                        </div>
                        <div id="division-team-info">
                            <img id="team-logo" src="../../../assets/images/los-angeles-lakers.webp">
                            <a id="team-name" href="https://www.nba.com/lakers">Los Angeles Lakers</a>
                            <div id="team-location">Los Angeles, CA</div>
                        </div>
                        <div id="division-team-info">
                            <img src="../../../assets/images/pheonix-suns.webp">
                            <a id="team-name" href="https://www.nba.com/suns">Pheonix Suns</a>
                            <div id="team-location">Pheonix, AZ</div>
                        </div>
                        <div id="division-team-info">
                            <img src="../../../assets/images/sacramento-kings.png">
                            <a id="team-name" href="https://www.nba.com/kings">Sacramento Kings</a>
                            <div id="team-location">Sacramento, CA</div>
                        </div>
                    </div>
                </div>
                <div id="division-container">
                    <div id="division-title-container">
                        <div id="division">Southwest Division</div>
                    </div>
                    <div id="division-teams-container">
                        <div id="division-team-info">
                            <img id="team-logo" src="../../../assets/images/dallas-mavericks.png">
                            <a id="team-name" href="https://www.nba.com/mavericks">Dallas Mavericks</a>
                            <div id="team-location">Dallas, TX</div>
                        </div>
                        <div id="division-team-info">
                            <img id="team-logo" src="../../../assets/images/houston-rockets.png">
                            <a id="team-name" href="https://www.nba.com/rockets">Houston Rockets</a>
                            <div id="team-location">Houston, TX</div>
                        </div>
                        <div id="division-team-info">
                            <img id="team-logo" src="../../../assets/images/memphis-grizzlies.png">
                            <a id="team-name" href="https://www.nba.com/grizzlies">Memphis Grizzlies</a>
                            <div id="team-location">Memphis, TN</div>
                        </div>
                        <div id="division-team-info">
                            <img src="../../../assets/images/new-orleans-pelicans.svg">
                            <a id="team-name" href="https://www.nba.com/pelicans">New Orleans Pelicans</a>
                            <div id="team-location">New Orleans, LA</div>
                        </div>
                        <div id="division-team-info">
                            <img src="../../../assets/images/san-antonio-spurs.png">
                            <a id="team-name" href="https://www.nba.com/spurs">San Antonio Spurs</a>
                            <div id="team-location">San Antonio, TX</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
